<label class="input {{labelClass}}">
    <input
            class="{{class}}"
            type="{{type}}"
            id="{{id}}"
            name="{{name}}"
            value="{{value}}"
            autocomplete="off"
    >
</label>