<label class="input {{labelClass}}">
    <span>{{label}}</span>
    <input
            class="{{class}}"
            type="{{type}}"
            id="{{id}}"
            name="{{name}}"
            value="{{value}}"
            placeholder="{{placeholder}}"
            {{disabled}}
            autocomplete="off"
    >
</label>