<div class="input">
    <div class="input__control">
        <label
            {{#if id}} for="{{id}}" {{/if}}
                       class="input {{labelClass}}"
        >
            {{#if value}}{{else}}{{label}}{{/if}}
        </label>
        <input
                class="{{class}}"
                type="{{type}}"
                {{#if id}}id="{{id}}"{{/if}}
                name="{{name}}"
                value="{{value}}"
                placeholder="{{placeholder}}"
            {{disabled}}
                autocomplete="off"
        >

    </div>
    <div class="input__details">
        <span class="error">{{errorText}}</span>
    </div>
</div>