<div class="enter-page__content">
    <div class="enter-page__content-main">
        <div class="header">
            <h2>Регистрация</h2>
        </div>
        <form class="register">
            {{#if errorRegister}}
                <div class="error-text mb-4 text-center">Неверно заполнена форма: {{errorRegister}}</div>
            {{/if}}
            {{#each inputs}}
                <div>
                    <span>
                        {{#with (lookup ../fieldsRegisterPage @key)~}}
                            {{text}}
                        {{/with}}
                    </span>
                    {{{ this }}}
                </div>
            {{/each}}
        </form>
    </div>
    <div class="enter-page__content-actions">
        <div class="enter-page__content-actions">
            <div class="d-flex align-center" style="flex: 1 0 100%">
                {{{buttonRegister}}}
            </div>
            <div>
                {{{link}}}
            </div>
        </div>

    </div>
</div>

