<div class="profile-page__content">
    <div class="header">
        <!--        <div>-->
        {{{avatar}}}
        <!--        </div>-->
        <h2>{{display_name}}</h2>
    </div>
    <form>
        {{#if changePassword}}
            <span class="error-text mb-4 text-center">  {{#if errorUpdatePassword}} Неверный пароль {{/if}}</span>
            {{#each inputs}}
                <div>
                    <span>
                        {{#with (lookup ../fieldsForPasswordPage @key)~}}
                            {{text}}
                        {{/with}}
                    </span>
                    {{{ this }}}
                </div>
            {{/each}}
        {{else}}
            <span class="error-text mb-4 text-center">  {{#if errorUpdateProfile}}
                Ошибка сохранения: {{ errorUpdateProfile}}{{/if}}</span>
            {{#each inputs}}
                <div>
                    <span>
                        {{#with (lookup ../fields @key)~}}
                            {{text}}
                        {{/with}}

                    </span>
                    {{{ this }}}
                </div>
            {{/each}}
        {{/if}}
    </form>
    <div class="profile-page__content-actions">
        {{#if changeProfile}}
            <div class="border-zero d-flex justify-center flex-1">
                {{{ buttonSave }}}
            </div>
        {{else}}
            {{#if changePassword}}
                <div class="border-zero d-flex justify-center flex-1">
                    {{{ buttonSavePassword }}}
                    {{{ buttonCancelSavePassword }}}
                </div>
            {{else}}
                <div>
                    {{{ buttonChange }}}
                </div>
                <div>
                    {{{ buttonChangePassword }}}
                </div>
                <div>
                    {{{ buttonExit }}}
                </div>
            {{/if}}
        {{/if}}
    </div>
</div>
{{{sideMenu}}}
{{#if changeAvatar}}
    <div class="overlay">
        <div class="overlay__background">

        </div>
    </div>
    <div class="dialog">
        <div class="dialog__content">
            <div class="file-form__action-close">{{{closeDialog}}}</div>
            <form class="file-form">
                <span class="error-text mb-4 text-center">
                    {{#if errorUpdateAvatar}} Ошибка сохранения: {{ errorUpdateAvatar}}{{/if}}
                </span>
                <h2>Загрузите файл</h2>
                <label class="input-file">
                    Выбрать файл на компьютере
                    <input
                            type="file"
                            id="avatar"
                            name="avatar"
                            accept="image/*"
                            autocomplete="off"
                    >
                </label>
                <div class="d-flex align-center" style="flex: 1 0 100%">
                    {{{ buttonChangeAvatar }}}
                </div>
            </form>
        </div>
    </div>
{{/if}}
